# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Локальные базы и секреты
*.db
*.sqlite3
.env
secrets.txtdesktop.ini
*.sqbpro
desktop.ini

# Environment
.env